button{
    font-size: 20px;
    background-color: teal;
    width: 50px;
    color: whitesmoke;
}

span{
    font-size: 20px;
    margin-left: 10px;
    width: 100px;
    object-position: right;
}

.resetBtn {
    font-size: 20px;
    background-color: tomato;
    width: 100px;
}

body {
    padding-top: 20px;
}